{% load static %}    
<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'web_admin:index' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="color:red">The_</span>arc
      </a>

      {% with request.resolver_match.view_name as view_name %}  
      <ul class="nav nav-pills">
        {% if user.is_authenticated %}
        <li class="nav-item">           
          <a class="nav-link {% if view_name  == 'web_admin:sessions_list' %}active{% endif %}" 
            href="{% url 'web_admin:sessions_list' %}"
          >
            Sessions list
          </a>
        </li>   
        <li class="nav-item">           
          <a class="nav-link {% if view_name  == 'web_admin:session_create' %}active{% endif %}" 
            href="{% url 'web_admin:session_create' %}"
          >
            New session
          </a>
        </li>        
        <li class="nav-item">           
          <a class="nav-link {% if view_name  == 'users:password_reset_form' %}active{% endif %}" 
            href="{% url 'users:password_reset_form' %}"
          >
            Change password
          </a>
        </li>
        <li class="nav-item">           
          <a class="nav-link {% if view_name  == 'users:logout' %}active{% endif %}" 
            href="{% url 'users:logout' %}"
          >
            Logout
          </a>
        </li>
        <li>
          User: {{ user.username }}
        <li>
        {% else %}
        <li class="nav-item">           
          <a class="nav-link {% if view_name  == 'users:login' %}active{% endif %}" 
            href="{% url 'users:login' %}"
          >
            Login
          </a>
        </li>
        {% endif %}
      </ul>
      {% endwith %} 
    </div>
  </nav>      
</header>